@import "../../node_modules/bootstrap/scss/bootstrap";

header{
    background-color: #0046a0;
    display: grid;
  
    .description {
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        margin: 16px 0;
        justify-self: center;
  
        @include media-breakpoint-up(md) {
            @media (max-aspect-ratio: 3/4) {
                font-size: xx-large;
            }
        }
    }

    .sessioninfo{

        display: flex;
        flex-direction: row-reverse;

        @include media-breakpoint-up(sm) {
            @media (max-aspect-ratio: 3/4) {
                .smallsize{
                    font-size: x-large;
                }
            }
        }
    }
}
body{
    @include media-breakpoint-only(md){
        @media (max-aspect-ratio: 3/4){
            height: 100vh;
        }
    }
}
.screen-area{
    margin: 9px;
    @include media-breakpoint-only(lg){
        @media (max-aspect-ratio: 3/4){
            transform: translateY(40%) scale(var(--ggs, 1.5));
        }
    }
}
